---
import TempImage from '../components/temp-image.astro'
import TextContainer from '../components/text-container.astro'
import Spacer from '../components/spacer.astro'

const { data } = Astro.props
---

<section
	class={`conclusion-container${data.background.main ? ` background-${data.background.main}` : ''}`}
	style={`${data.background.main && data.background.trans && `background-image: linear-gradient(180deg, var(--${data.background.trans}) 10rem, var(--${data.background.main}) 10rem);`}`}
>
	<div class="page-extra">
		<TempImage aspect="landscape" />
	</div>
	<div class="page-width-lines">
		<Spacer />
		<TextContainer data={data.textcontainer} />
		<p class="text-script text-right">Let’s Chat</p>
		<Spacer />
	</div>
</section>

<style>
	.conclusion-container {
		overflow: hidden;

		.text-script {
			margin: 0 4rem;
			white-space: nowrap;
		}
	}
	.conclusion-container.background-blue-600 {
		background-color: unset;

		.text-script {
			color: var(--blue-400);
		}
	}
	.conclusion-container.background-peach-800 {
		background-color: unset;

		.text-script {
			color: var(--peach-600);
		}
	}
</style>
