---
import Spacer from '../components/spacer.astro'
---

<footer class="background-black">
	<div class="page-width-lines">
		<Spacer />
		<div class="footer-links-container">
			<ul>
				<li class="text-subtitle"><span>Links:</span></li>
				<li class="text-subtitle"><a href="/">Home</a></li>
				<li class="text-subtitle"><a href="/about/">About</a></li>
				<li class="text-subtitle"><a href="/weddings/">Weddings</a></li>
				<li class="text-subtitle"><a href="/packages/">Packages</a></li>
			</ul>
			<ul>
				<li class="text-subtitle"><span>Contact:</span></li>
				<li class="text-subtitle"><a href="/contact">Email</a></li>
				<li class="text-subtitle">
					<a href="https://www.instagram.com/clairejulietpaton" target="_blank">Instagram</a>
				</li>
			</ul>
		</div>
		<Spacer />
	</div>
	<div class="page-extra">
		<div class="footer-bottom-bar">
			<ul>
				<li class="text-subtitle">
					<a href="https://www.studiorebuildhim.com/" target="_blank"
						>Website: We Can Rebuild Him</a>
				</li>
				<li class="text-subtitle"><a href="/privacy/">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</footer>

<style>
	.footer-links-container {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		max-width: 55ch;

		ul {
			width: 50%;
		}

		a {
			color: var(--blue-400);
			transition: color 0.3s ease-in;
		}

		a:hover {
			color: var(--blue-200);
		}

		span {
			color: var(--blue-200);
		}
	}

	.footer-bottom-bar {
		border: solid 2px var(--blue-800);
		border-bottom-width: 0;
		padding: 4rem min(100px, 5%) 4rem;

		ul {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
		}

		a {
			transition: color 0.3s ease-in;
		}

		a:hover {
			color: var(--blue-400);
		}
	}

	@media (max-width: 640px) {
		.footer-bottom-bar {
			ul {
				flex-direction: column;
				gap: 0;
			}
		}
	}
</style>
