---
import Logo from '../components/logo.astro'
---

<header>
	<div class="header-inner page-width">
		<div class="logo-container">
			<Logo />
		</div>
		<nav class="nav-container">
			<ul class="menu-list">
				<li class="text-subtitle menu-item"><a href="#">About</a></li>
				<li class="text-subtitle menu-item"><a href="#">Weddings</a></li>
				<li class="text-subtitle menu-item">
					<span class="submenu-title">Info</span>
					<ul class="submenu-list">
						<li class="text-subtitle menu-item"><a href="#">East Lothian</a></li>
						<li class="text-subtitle menu-item"><a href="#">Wedding Blog</a></li>
						<li class="text-subtitle menu-item"><a href="#">Packages</a></li>
					</ul>
				</li>
				<li class="text-subtitle menu-item"><a href="#">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>
	/* Header */

	.header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		padding: 0.5rem 0;
	}

	.logo-container {
		width: 400px;

		svg {
			fill: var(--peach-800);
		}
	}

	/* Nav */

	nav {
		ul {
			display: flex;
			gap: 2rem;
		}

		.submenu-list {
			display: none;
		}

		.menu-item {
			position: relative;

			> a,
			> span {
				transition: color 0.3s ease-in;
			}
		}

		.menu-item:hover {
			cursor: pointer;
			> a,
			> span {
				color: var(--peach-600);
			}

			.submenu-list {
				display: flex;
				flex-direction: column;
				gap: 0rem;
				position: absolute;
				background-color: var(--cream-200);
				padding: 2rem;
				left: -2rem;
				top: 2.5rem;
				min-width: 200px;
			}

			.submenu-list li::before {
				content: '–';
				padding-right: 0.5rem;
			}
		}
	}
</style>
